<div id="callbackform" ng-init="dateTimeControls();"> 
    <div class="form-group" ng-show="frmData.Scheduleacall">
        <div class="col-sm-8">
            <label for="Scheduleacall" class="col-sm-2 control-label">Schedule a Call</label>
            <div class="col-sm-6">
                <select class="form-control" ng-change="ddlscheduleacall();" id="ddlscheduleacall" name="ddlscheduleacall" ng-model="frmData.ddlscheduleacall">
                    <option value="">-- Select --</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option> 
                </select>
            </div>
        </div>
    </div>

    <div class="col-lg-6 form-group" ng-show="frmData.show">
        <label for="Title" class="col-sm-4 control-label">Title</label>
        <div class="col-sm-8">
            <input type="text" class="form-control chkAlpha" ng-model="frmData.subject" id="subject" name="subject" placeholder="Title"/>
        </div>
    </div> 
    <div class="col-lg-6 form-group" ng-show="frmData.show">
        <label for="scheduledate" class="col-sm-4 control-label">Schedule Date</label>
        <div class="col-sm-8">
            <input type="text" readonly="readonly" class="form-control" ng-model="frmData.scheduledate" id="scheduledate" name="scheduledate" placeholder="Schedule Date"/> 
        </div>
    </div>
    <div class="col-lg-6 form-group" ng-show="frmData.show">
        <label for="role" class="col-sm-4 control-label">Schedule Time</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="frmData.scheduletime" id="scheduletime" name="scheduletime" placeholder="Schedule Time"/>
        </div>
    </div>
    <div class="col-lg-6 form-group" ng-show="frmData.show">
        <label for="contactNo" class="col-sm-4 control-label">Description</label>
        <div class="col-sm-8"> 
            <textarea class="form-control" id="Description" ng-model="frmData.Description" name="Description" placeholder="Description" rows="3"></textarea>
        </div>
    </div> 
</div>
</div>