<!--menu -->
        <div class="row">
          <div class="col-lg-3">
            <aside class="profile-nav alt green-border">
              <section class="panel">
                <div class="user-heading alt green-bg"><h3>NEWS FEED</h3></div>
                <ul class="nav nav-pills nav-stacked">
                  <li>
                    <a href="javascript:;">
                      Personal Data Protection Act - PDPA
                      
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      Escalations from Singapore Police Force for Investigations
                      
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      Relocation of Thomson Road PO and PO Boxes
                    
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                    Annual Rental Renewal Rates for PO Box
                      
                    </a>
                  </li>
                </ul>
              
              </section>
            </aside>
            <aside class="profile-nav alt green-border">
              <section class="panel">
                <div class="user-heading alt green-bg"><h3>CALL BACK SCHEDULE</h3></div>
                <ul class="nav nav-pills nav-stacked">
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-clock-o"></i>RC633514755SG - Please hands off into this case
                      <span class="label label-primary pull-right r-activity">19</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-calendar"></i>New address for vPOST CHINA
                      <span class="label label-info pull-right r-activity">11</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-bell-o"></i>Please Follow up - RC633514755SG
                      <span class="label label-warning pull-right r-activity">03</span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <i class="fa fa-envelope-o"></i>RC633514755SG - Please hands off into this case
                      <span class="label label-success pull-right r-activity">10</span>
                    </a>
                  </li>
                </ul>

              </section>
            </aside>
            <!--features carousel end-->
          </div>
          <div class="col-lg-6">
             <!--state overview start-->
              <div class="row state-overview">
                  <div class="col-lg-6 col-sm-6">
                      <section class="panel">
                          <div class="symbol terques">
                              <i class="fa fa-user"></i>
                          </div>
                          <div class="value">
                              <h1 class="count">
                                  0
                              </h1>
                              <p>ATT</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <section class="panel">
                          <div class="symbol red">
                              <i class="fa fa-tags"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count2">
                                  0
                              </h1>
                              <p>CSAT</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <section class="panel">
                          <div class="symbol yellow">
                              <i class="fa fa-shopping-cart"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count3">
                                  0
                              </h1>
                              <p>CSAT</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <section class="panel">
                          <div class="symbol blue">
                              <i class="fa fa-bar-chart-o"></i>
                          </div>
                          <div class="value">
                              <h1 class=" count4">
                                  0
                              </h1>
                              <p>DSAT</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                      <section class="panel">
                          <div class="symbol orange">
                              <i class="fa fa-user"></i>
                          </div>
                          <div class="value">
                              <h1 class="count">
                                  0
                              </h1>
                              <p>Total Calls</p>
                          </div>
                      </section>
                  </div>
              </div>

              <!--state overview end-->

          </div>
          <div class="col-lg-3">
            <!--revenue start-->
            <section class="panel">
              <div class="revenue-head orange">
                <span><i class="fa fa-bar-chart-o"></i></span>
                <h3>RSS FEED</h3>
              </div>
              <div class="panel-body">
                <div class="desk yellow">
                  <h3>Personal Data Protection Act - PDPA</h3>
                  <p>This is a reminder that Personal data protection act comes into effect in Singapore on July 2 2014.
                  <br>
                  The handbook has been uploaded on the CT. Please ensure that it is referenced OR contact your TL/Supervisor.</p>
                </div>
                <div class="desk yellow">
                  <h3>Escalations from Singapore Police Force for Investigations</h3>
                  <p>Escalations from Singapore Police Force to assist in investigations
                  Email direct to Mail Security (Mohammed Fauzi Bin Hamid and Paul Tan)
                  Do not email DBM/AM.</p>
                </div>
                <div class="desk yellow">
                  <h3>Escalations from Singapore Police Force for Investigations</h3>
                  <p>Escalations from Singapore Police Force to assist in investigations Email direct to Mail Security (Mohammed Fauzi Bin Hamid and Paul Tan) Do not email DBM/AM.</p>
                </div>
                <div class="desk yellow">
                  <h3>Relocation of Thomson Road PO and PO Boxes</h3>
                  <p>Relocation of Thomson Road PO and PO Boxes, FAQ for Relocation of Thomson Road PO and PO Boxes</p>
                </div>
               
              </div>
            </section>
          </div>
        </div>