<style type="text/css">
	.statwid div{
		width: 72px;
	}
	.hrswid div{
		width: 96px;
	}
</style>
<section class="content-header">
          <h1>
            Go Live    
          </h1>  
      <div class="pull-right" style="font-size: 20px;margin-top: -27px;">
        <i class="fa fa-calendar"></i> Go Live On {{liveDate}}
     </div>          
</section>
<section class="content">
<div id="golive" class="box box-default boxdefault" ng-init="getGoliveMasterData();getData();">
	<div class="box-body">
			<div class="col-md-12 ng-scope">
			<div class="col-md-11"><h4> Testing Module </h4></div>
	        <div class="col-md-1"><button ng-hide="((loggedUserDet.user_role_id_fk != 1) || (isAddButtonEnabled) || (isEmailSend == 1))" class="btn btn-default" ng-click="addNewModule()"><span class="glyphicon glyphicon-plus-sign"></span>Add</button></div>
	        <div style="clear:both;"></div>
	        <div class="box box-primary">           
	          <div class="box-body golive-yscroll">
	          <div class="goliveSlim"  opacity="0.4">
	       
                                    <table class="table table-bordered table-striped box box-success" cellpadding="0" cellspacing="0">
	            <thead>
	              <tr style="font-weight: bold">
	                <th>Module</th>
	                <th>Description</th>
	                <th>Status</th>
	                <th width="10%" ng-hide="((loggedUserDet.user_role_id_fk != 1) || (isEditButtonEnabled))">Action</th>
	                <!-- <th>Remarks</th> -->
	              </tr>
	              </thead>
	              <tbody>
	              <tr ng-repeat="testmod in goliveData">
	                <td>
	                  <span onbeforesave="checkValid($data)" editable-text="testmod.golive_mod_name" e-name="golive_mod_name" e-form="rowform" e-required>
	                    {{ testmod.golive_mod_name }}
	                  </span>
	                </td>
	                <td>
	                  <span onbeforesave="checkValid($data)" editable-text="testmod.golive_mod_desc" e-name="golive_mod_desc" e-form="rowform" e-required>
	                    {{ testmod.golive_mod_desc }}
	                  </span>
	                </td>
	                <td>
		                <span class="statwid" ng-switch="testmod.golive_mod_status">
		                   <span  ng-hide="loggedUserDet.user_role_id_fk != 1" editable-select="testmod.golive_mod_status" e-name="golive_mod_status" e-form="rowform" e-ng-change="onStatusChanged($data,$index,testmod.golive_mod_status)"  e-ng-options="s.value as s.text for s in statuses">
	                            <span ng-switch-when="0" class="label label-warning">Yet to Test</span>
	                            <span ng-switch-when="1" class="label label-success">Pass</span>
	                            <span ng-switch-when="2" class="label label-danger">Fail</span>
	                        </span>
	                        <span ng-show="loggedUserDet.user_role_id_fk != 1">
	                            <span ng-switch-when="0" class="label label-warning">Yet to Test</span>
	                            <span ng-switch-when="1" class="label label-success">Pass</span>
	                            <span ng-switch-when="2" class="label label-danger">Fail</span>
	                        </span>
	                   </span> 
	                   <span class="hrswid" ng-show="(testmod.golive_mod_status == 2)" ng-switch="testmod.fail_resolve_hrs" class="pull-right">
	                        <span ng-hide="loggedUserDet.user_role_id_fk != 1" editable-select="testmod.fail_resolve_hrs" e-name="fail_resolve_hrs" e-form="rowform" e-ng-options="s.value as s.text for s in resolveHrs">
	                            <span ng-switch-when="1" class="label label-success">< 24 Hrs</span>
	                            <span ng-switch-when="2" class="label label-danger">> 24 Hrs</span>
	                        </span>
	                        <span ng-show="loggedUserDet.user_role_id_fk != 1">
	                            <span ng-switch-when="1" class="label label-success">< 24 Hrs</span>
	                            <span ng-switch-when="2" class="label label-danger">> 24 Hrs</span>
	                        </span>
							</span>
						</span>
	                </td>
	                <td nowrap ng-hide="((loggedUserDet.user_role_id_fk != 1) || (isEditButtonEnabled))">
	                  <!-- form -->
	                  <form editable-form name="rowform" oncancel="cancelNewRow(testmod.golive_mod_id_pk,$index)" onbeforesave="saveGoliveModule($data,testmod.golive_mod_id_pk)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == testmod">{{$data}}
	                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary fa fa-floppy-o"></button>
	                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default fa fa-times"></button>
	                  </form>
	                  <div class="buttons" ng-show="!rowform.$visible">
	                    <button ng-disabled="isEditButtonEnabled" class="btn btn-primary fa fa-pencil-square-o" ng-click="rowform.$show()"></button>
	                    <button ng-disabled="isEditButtonEnabled" class="btn btn-danger fa fa-trash" ng-click="removeModule(testmod.golive_mod_id_pk)"></button>
	                  </div>
	                </td>
	              </tr>
	              </tbody>
	            </table>
	          
	            </div>
	            <div class="mar_bottom"></div>
	        
	          </div>
	              <div class="col-md-12">
					<div class="form-group" ng-hide="((loggedUserDet.user_role_id_fk != 1) || (isEditButtonEnabled))">
					<!-- 	<tags-input type="email" placeholder="Enter Email" ng-model="frmData.cEmail[$index]" allowed-tags-pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,63}$">
			            </tags-input> -->
			              <tags-input ng-model="tags" display-property="name" add-from-autocomplete-only="true">
			              <auto-complete source="loadUser($query)" min-length="0" debounce-delay="0"></auto-complete>
			            </tags-input>
					</div><!-- /.form-group -->                  
				</div><!-- /.col -->
	           <div class="col-md-12 ">
				<button ng-hide="((loggedUserDet.user_role_id_fk != 1) || (isEditButtonEnabled))"  class="btn btn-default pull-right" type="button" ng-click="sendMailToUser()">Send Mail</button>
				<a href="#projectplan" ng-hide="((loggedUserDet.user_role_id_fk != 1) || (isEditButtonEnabled))"><button class="btn btn-default pull-left" type="button">Change Date in Project Plan </button></a>
			</div>
	          
	      </div>
	      
		</div>
	</div>
</div>
</section>