<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10"><br/>
    	<!-- <ol class="breadcrumb" my-crumb info="CustomerList"></ol> -->
		<div id="dataListView" class="span10 sect-pad" ng-init="dataInit('getCustomerlist', 'i')"> 
			<div class="span7">   
				<div class="widget stacked widget-table action-table">						
					<div class="widget-header flavour-1">
						<i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp;
						<span>Customer List</span>
						<div class="pull-right" style="width:35%;">
							<form ng-submit='dataInit("getCustomerlist", "s")'>
								<div class="input-group" style="top:4px;">
									<input type="text" class="form-control input-sm" placeholder="Search" name="reportrange" id="reportrange" ng-model="srch.searchtxt">
									<div class="input-group-btn" style="top:-6px;">
										<button class="btn btn-default input-sm popover-examples" type="submit" id="advSearch1"><i class="glyphicon glyphicon-search"></i></button>
										<button class="btn btn-default input-sm" type="button" id="advSearch1" value="All"  ng-click='dataInit("getCustomerlist","c")'><i class="glyphicon glyphicon-refresh"></i></button>
									</div>
								</div>
							</form>
						</div>
					</div> <!-- /widget-header -->
					
					<div class="widget-content">

						<table ng-table="tableParams" show-filter="false" class="table table-striped">
							<tr ng-repeat="user in $data" ng-click="user.$selected = !user.$selected; changeSelection(user)" ng-class="{'active': user.$selected}">
								<td data-title="'First Name'" header-class="text-left" sortable="'firstName'">
									{{user.firstName}}
								</td>
								<td data-title="'Last Name'" header-class="text-left" sortable="'lastName'">
									{{user.lastName}}
								</td>
								<td data-title="'Phone'" header-class="text-left" sortable="'primaryphone'">
									{{user.primaryphone}}
								</td>
								<td nowrap data-title="'Email'" header-class="text-left" sortable="'Email'">
									{{ user.Email}} 
								</td>
								
								<td data-title="'Company'" header-class="text-left" sortable="'company'">
									{{ user.company}}
								</td>
								<td data-title="'City'" header-class="text-left" sortable="'city'">
									{{ user.city}}
								</td>
								<td data-title="'Country'" header-class="text-left" sortable="'country'">
									{{ user.country}}
								</td>
								<td data-title="'State'" header-class="text-left" sortable="'state'">
									{{ user.state}}
								</td>
								<td data-title="'Address 1'" header-class="text-left" sortable="'addressline1'">
									{{ user.addressline1}}
								</td>
								<td data-title="'Address 2'" header-class="text-left" sortable="'addressline2'">
									{{ user.addressline2}}
								</td>
								<td data-title="'zip'" header-class="text-left" sortable="'zip'">
									{{ user.zip}}
								</td>
								<td ng-switch="user.Status" data-title="'Action'" >
									<a  href="#/customer/editCustomer/{{user._id}}" class="glyphicon glyphicon-edit"></a>
									<a  href="#/customer/viewCustomer/{{user._id}}" class="ion-navicon-round"></a>
								</td>
							</tr>
							<tr ng-show = "$data.length == 0">
								<td colspan="4" style="text-align:center; font-weight:bold;">
									No Record Found
								</td>
							</tr>
						</table>
					</div> <!-- /widget-content -->
						
				</div> <!-- /widget -->
			</div>
		</div>
    </div>
    <div class="col-lg-1"></div>
</div>

