<section class="content-header">
          <h1>
             Dashboard
          </h1>          
</section>
<section class="content">

          <div class="row">
            <div class="col-md-4 mar_bottom">
              <div class="box box-primary dahbox_hgt">
                <div class="box-header with-border">
                  <h4 class="box-title">Status Bar Map</h4>                  
                </div>
                <div class="box-body">
                                        
                    <div class="color-palette-set mar_bottom clearfix">
                    <div class="pull-left open_status"><span class="bg-light-blue disabled color-palette pull-left status_padd">&nbsp;</span> Open</div> 
                    <div class="pull-left open_status"><span class="bg-green disabled color-palette pull-left status_padd">&nbsp;</span> Pending</div> 
                    <div class="pull-left open_status"><span class="bg-yellow disabled color-palette pull-left status_padd">&nbsp;</span> Inprogress</div> 
                    <div class="pull-left open_status"><span class="bg-red disabled color-palette pull-left status_padd">&nbsp;</span> Closed</div>
                    <div class="pull-left open_status"><span class="bg-gray disabled color-palette pull-left status_padd">&nbsp;</span> OverDue</div>
                  </div>
                  <div class="color-palette-set mar_bottom clearfix">
                    <div class="bg-light-blue disabled color-palette padd_color pull-left"><span>(0)</span></div>
                    <div class="bg-green disabled color-palette padd_color pull-left"><span>(0)</span></div>
                    <div class="bg-yellow disabled color-palette padd_color pull-left"><span>(0)</span></div>
                    <div class="bg-red disabled color-palette padd_color pull-left"><span>(0)</span></div>
                    <div class="bg-gray disabled color-palette padd_color pull-left"><span>(0)</span></div>
                  </div>
                  <table class="table table-bordered table-striped">
                    <tr>
                      <th>Task Name</th>
                      <th>Duration</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
            <div class="col-md-4 mar_bottom">
              <div class="box box-primary dahbox_hgt">
                <div class="box-header with-border">
                  <h4 class="box-title">Upcoming Action Items</h4>
                </div>
                <div class="box-body">
                    <div class="mar_bottom text-center">14-02-2016 to 20-02-2016</div>
                    <table class="table table-bordered table-striped">
                    <tr>
                      <th>Task Name</th>
                      <th>Duration</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-4 mar_bottom">
              <div class="box box-primary dahbox_hgt">
                <div class="box-header with-border">
                  <h4 class="box-title">High Level Implementation</h4>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                    <tr>
                      <th>Task Name</th>
                      <th>Duration</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Status</th>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box box-primary dahbox_hgt">
                <div class="box-header with-border">
                  <h4 class="box-title">Burn Down Chart</h4>
                </div>
                <div class="box-body">
                    No Data Available
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box box-primary dahbox_hgt">
                <div class="box-header with-border">
                  <h4 class="box-title">Status Report Chart</h4>
                </div>
                <div class="box-body">
                    No Data Available
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box box-primary dahbox_hgt">
                <div class="box-header with-border">
                  <h4 class="box-title">Road Map</h4>
                </div>
                <div class="box-body">
                    No Data Available
                </div>
              </div>
            </div>
          </div>
              
</section>