<style type="text/css">
    .tabz:hover {
        color:#000 !important;

    }
    .editaclslide {
        height: 200px !important;
    }
</style>
<section class="content-header">
<h1>Change Password</h1></section>
<section class="content">
    <div class="box box-default" >
        <div class="box-body">               
           
             <div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#profileee" data-toggle="tab">Home</a></li>
    <li><a href="#changepassword" data-toggle="tab">Profile</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="profileee">hi</div>
    <div class="tab-pane" id="changepassword">hello</div>
   
  </div>

</div>

        </div>
    </div>
</section>
