<section class="content-header"><h1>Client Form</h1></section>
<section class="content" id="clientRecruit">
    <div class="box box-default boxdefault" ng-init="recruitClient('recruit_client')"> 
        <div class="box-body" id="accordion">
            <div class="panel">
                <div class="row collapse" id="createClient">
                    <div id="header" class="col-sm-12 col-md-12 col-lg-12">
                        <div class="col-md-6"><h4> Recruitment Client </h4></div>
                    </div>
                    <form id="frmclientStatus" name="frmclientStatus" class="form-box ui-formwizard" novalidate>
                        <div class="col-md-12">
                            <div class="form-group">
                                <ul class="timeline">
                                    <li class="time-label"><span class="bg-red">{{frmData.fname}}</span></li>
                                    <li><i class="fa fa-user bg-blue"></i>
                                        <div class="timeline-item">
                                            <h3 class="timeline-header"><a href="#">Contact</a><br>
                                            <span class="values"> {{frmData.contact}}</span></h3>
                                            <h3 class="timeline-header"><a href="#">Client Panel Date</a><br>
                                            <span class="values"> {{frmData.interviewDate | date:"dd-MM-yyyy"}} </span></h3>
                                            <div style="clear:both"></div>
                                        </div>
                                    </li>
                                    <li><!-- timeline icon -->
                                        <i class="fa fa-user bg-yellow"></i>
                                        <div class="timeline-item">
                                            <div class="col-md-4">
                                                <div class="form-group" show-errors>
                                                    <label>Client Panel</label>
                                                    <select ng-model="frmData.cstatus" name="cstatus" id="cstatus" class="form-control" required>
                                                        <option value="">Select Option</option>
                                                        <option value="3">Selected</option>
                                                        <option value="1">Rejected</option>
                                                    </select>
                                                </div>                 
                                            </div><!-- /.col -->
                                            <div class="col-md-4">
                                                <div class="form-group" show-errors>
                                                    <label>Comments</label>
                                                    <textarea ng-model="frmData.comments" name="comments" id="comments" class="form-control" placeholder="Enter ..." rows="1" required></textarea>
                                                </div><!-- /.form-group -->                  
                                            </div><!-- /.col -->
                                            <div style="clear:both"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div> 
                        <div class="box-footer">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-block btn-default save_but" type="submit" ng-click="updClientStatus()" data-toggle="collapse" data-target="#clientList" data-parent="#accordion"><i class="fa fa-check position_left"></i> Save</button>
                            </div>
                            <div class="btn-group">                            
                                <button class="btn btn-block btn-default cancel_but" type="submit" ng-click="clearfrm()" data-toggle="collapse" data-target="#clientList" data-parent="#accordion"><i class="fa fa-times position_left"></i> Cancel</button>
                            </div><!-- /.box-footer -->                      
                        </div><!-- /.box -->
                    </form>
                </div>
            </div> 
            <div class="panel">
                <div class="row collapse in" id="clientList">
                    
                        <div class="col-md-12 mar_bottom">
                            <div class="col-md-5 pull-right"> 
                                <div class="input-group">
                                    <input class="form-control input-sm pull-right ng-pristine ng-untouched ng-valid" type="text" name="table_search" placeholder="Search" ng-model="searchkey">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-default" ng-click="doSearch();" type="submit">
                                        <i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="box box-primary">           
                                <div class="box-body client-overflow">
                                    <table ng-table="tableParams" show-filter="false" class="table table-bordered table-striped">
                                        <tr ng-repeat="unitDet in $data track by $index">
                                            <td data-title="'First Name'" header-class="text-left" sortable="'resource_first_name'">
                                                {{unitDet.resource_first_name}}
                                            </td>
                                            <td data-title="'Last Name'" header-class="text-left" sortable="'resource_last_name'">
                                                {{unitDet.resource_last_name}}
                                            </td>
                                            <td data-title="'Contact'" header-class="text-left" sortable="'resource_phone_no'">
                                                {{unitDet.resource_phone_no}}
                                            </td>
                                            <td data-title="'Exp/Fresher'" header-class="text-left" sortable="'totExp'">
                                                {{unitDet.totExp}}
                                            </td>
                                            <td data-title="'Project'" header-class="text-left" sortable="'project_name'">
                                                {{unitDet.project_name}}
                                            </td>
                                            <td data-title="'Client Panel Date'" header-class="text-left" sortable="'client_interview_date'">
                                                {{unitDet.client_interview_date | date:"dd-MM-yyyy"}}
                                            </td>
                                            <td data-title="'Action'">
                                                <button ng-disabled="isEditButtonEnabled" ng-click="editClientStatus(unitDet)" class="btn btn-primary fa fa-pencil-square-o" data-toggle="collapse" data-target="#createClient" data-parent="#accordion"></button>
                                            </td> 
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
