<section class="content-header">
          <h1>
               Man Hours Calculation
          </h1>          
</section>
<section class="content">
<div class="box">
                <div class="box-body">
                <div class="box-header"> </div>
                  <table class="table table-condensed table-bordered">
                    <tr>                      
                      <th>Cost of Per Hour Effort ($)</th>
                      <th>Total Man Hours</th>
                      <th>Cost of Overall Effort</th>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" placeholder=""> </td>
                      <td><input type="text" class="form-control" placeholder=""> </td>
                      <td> <input type="text" class="form-control" placeholder=""></td>
                    </tr>
                    
                  </table>
              </div>
              <div class="box-body">
                  <table class="table table-condensed table-bordered">
                    <tr>                      
                      <th>Name</th>
                      <th>Recurrence</th>
                      <th>Minutes</th>
                      <th>OverallMinutes</th>
                      <th>ManHours </th>
                      <th>CostofEffort </th>
                      <th> </th>
                     
                    </tr>
                    <tr>
                      <td>CSS Site Redundancy Project: Detail Planning on Call Routing </td>
                      <td>1</td>
                      <td>45</td>
                      <td>45</td>
                      <td>0.75</td>
                      <td>15.00</td>                
                      <td><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button> </td>
                    </tr>
                    <tr>
                      <td><input type="text" class="form-control" placeholder=""> </td>
                      <td><input type="text" class="form-control" placeholder=""> </td>
                      <td><input type="text" class="form-control" placeholder=""> </td>
                      <td><input type="text" class="form-control" placeholder=""> </td>
                      <td><input type="text" class="form-control" placeholder=""> </td>
                      <td><input type="text" class="form-control" placeholder=""> </td>
                      <td><button class="btn btn-default"><span class="glyphicon glyphicon-plus-sign"></span>Add</button> </td>                     
                    </tr>
                    
                  </table>
           
              </div>
               </div><!-- /.box -->
</section>