<div id="header" class="col-sm-12 col-md-12 col-lg-12">
    <div class="col-md-6">
        <h4> MOM List </h4>
    </div>
    <div class="col-md-6">
        <label ng-disabled="isAddButtonEnabled" class="btn btn-success pull-right" data-toggle="collapse" data-target="#createMom" data-parent="#accordion"> New Meeting </label>
    </div>
</div>

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="box box-primary">           
      <div class="box-body asses-overflow pad-rght30">
        <table ng-table="tableParams" show-filter="false" class="table table-bordered table-striped">
          <tr ng-repeat="momDet in $data track by $index">
            <td data-title="'Title'" header-class="text-left" sortable="'meeting_title'">
              {{momDet.meeting_title}}
            </td>
            <td data-title="'Location'" header-class="text-left" sortable="'meeting_location'">
              {{momDet.meeting_location}}
            </td>
            <td data-title="'Event Start'" header-class="text-left" sortable="'start_date_time'">
              {{momDet.start_date_time | date:'MM-dd-yyyy HH:MM'}}
            </td>
            <td data-title="'Event End'" header-class="text-left" sortable="'end_date_time'">
              {{momDet.end_date_time | date:'MM-dd-yyyy HH:MM'}}
            </td>
            <td nowrap ng-switch="momDet.status" data-title="'Status'" header-class="text-left" sortable="'status'">
              <span ng-switch-when="0" style="color:#FF0000;">
                <button ng-disabled="isEditButtonEnabled" type="button" class="btn btn-danger btn-xs" ng-click="chgmomStatus(momDet,momDet.status);"><i class="fa fa-lock fa-3"></i> Disabled</button>
              </span>
              <span ng-switch-when="1" style="color:#499849;">
                <button ng-disabled="isEditButtonEnabled" type="button" class="btn btn-success btn-xs" ng-click="chgmomStatus(momDet,momDet.status);"><i class="fa fa-unlock fa-3"></i> Enabled</button>
              </span>
            </td>
            <td data-title="'Action'">
              <a href="javascript://" ng-disabled="isEditButtonEnabled" data-toggle="collapse" data-target="#createMom" data-parent="#accordion" ng-click="editMom(momDet);" class="fa fa-pencil-square-o"></a>
              <a href="javascript://" data-toggle="collapse" data-target="#momView" data-parent="#accordion" ng-click="viewMom(momDet);" class="fa fa-eye"></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>